body {
  margin: 0;
  height: 100vh;
}

#todo-error {
  color: red;
  font-size: 2em;
}
.card {
  border: none;
}

h1 {
  font-variant-caps: all-small-caps;
}
h5 {
  font-size: 2.25rem;
}
.weather {
  background-color: none !important;
}
.card-body {
  text-align: center;
  font-variant: small-caps;
  color: whitesmoke;
  background-color: rgb(51, 51, 51);
  border: none;
  border-block-color: none;
}

.card-body.items {
  border-top: 0.5px solid rgb(75, 74, 74);
  border-bottom: 0.5px solid rgb(75, 74, 74);
}

ol {
  text-align-last: left;
  padding-left: 0;
}

button {
  float: right;
}

.card-body.cuerpo {
  height: 70vh;
  background-color: none;
}

h1.card-title {
  font-size: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 3rem;
  background-color: none;
  text-shadow: 5px 5px 8px white;
}
h4.card-subtitle {
  font-size: 60px;
  background-color: none;
  text-shadow: 5px 5px 8px white;
}
